body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 2rem;
  border-radius: 2px;
  border:  4px solid rgb(27, 21, 21);
  width: 400px;
  background-color: darkgrey;
}

.card .image {
  height: 225px;
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
}

/* .App {
  background-image: url("./images/DragonScale.png");
} */